/*mobile 200-780 px*/
*{
  margin: 0;
  padding: 0;
}

body{
  min-width: 100px;
  margin: auto;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5em;
  overflow: scroll;
}

dl{
  border: 2px  dashed #CCD5AE;
  padding: 0.5em;
  background: #E9EDC9;
}

dt{
  margin-top: 1em;
  display: block;
  unicode-bidi: isolate;
  color: #D4A373;
}

dd {
  display: block;
  margin-inline-start: 1em;
  unicode-bidi: isolate;
}

h1{
  color: #FEFAE0 ;
  font-size: 150%;
  margin:1em;
}

h2,h3,h4,h5{
  padding-top: 1em;
  padding-bottom:0.5em;
  color: #CCD5AE;
  font-size: 130%;
}

p{
  color: rgb(89, 87, 87);
  padding-top: 0.25em;
  padding-bottom: 0.1em;
  line-height: 1.5em;
  column-count: 1;
  font-size: 100%;
}

blockquote{
  color: rgb(59, 58, 58);
  padding: 0.5em;
  font-size: 100%;
}

.pre-inside-body{
  max-width: 60vw;
  overflow: scroll;
}

.pre-outside-body{
  color: #FEFAE0;
  background:#CCD5AE;
  border:3px dashed #E9EDC9;
  padding: 1em;
  box-shadow:3px 3px 5px #E9EDC9;
  max-width: 100vw;
}


picture{
  grid-column-start: 3;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

img{
  max-width: 100%;
  height: auto;
  border: #E9EDC9 2px solid;
  border-radius: 3%;
  margin-top: 1em;
  margin-bottom: 1em;
}


video{
  max-width: 80%;
  height: auto;
  padding: 0.5em;
}

.alternative-text{
  color: #FEFAE0;
}

.main-header{
  background: #CCD5AE;
  min-height: 12em;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 3fr;
  align-items: center;
}

.nav-bar{
  background: #FEFAE0;
  padding: 0.5em;
}

.nav-bar li{
  list-style-type: none;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.nav-bar li a{
  color: #D4A373;
  text-decoration: none;
  font-size: 100%;
}

.nav-bar li a:hover{
  color: #CCD5AE;
  text-decoration: none;
}

aside{ 
  background: #D4A373;
  padding: 0.5em;
  grid-column-start: 1;
  grid-column-end: 2;
}

.article-list li{
  list-style-type: none;
  padding: 0.4em;
}

.article-list li a{
  text-decoration: none;
  color: #E9EDC9;
}

.alternative-text a{
  text-decoration: none;
  color: #E9EDC9;
}

.alternative-text a:hover{
  color: #CCD5AE;
}

.article-list li a:hover{
  color: #CCD5AE;
}

.learning-list li{
  margin-left: 1em;
  margin-top: 0.25em;
  font-size: 100%;
}

address{
  color: #FEFAE0;
}

.footer address p a{
  color: #FEFAE0;
  text-decoration: none;
  cursor: pointer;
}

.footer address p a:hover{
  color: #E9EDC9;
  text-decoration: none;
}

.footer nav a{
  color: #FEFAE0;
  text-decoration: none;
  cursor: pointer;
}

.footer nav a:hover{
  color: #E9EDC9;
  text-decoration: none;
}

.footer{
  background: #CCD5AE;
  padding: 1em;
  grid-column:1/2;
  display: grid;
  align-items: flex-start;
}

.footer-header{
  color: #FEFAE0;
}

details{
  color: #FEFAE0;
  padding: 0.5em;
}

details ol li{
  margin-top: 0.7em;
}

.p-outside-body{
  color: #FEFAE0;
  padding: 0.25em;
}

aside ol{
  padding: 0.5em;
}

aside ol li{
  color: #FEFAE0;
  margin-top: 0.5em;
  margin-left: 0.5em;
  background: #CCD5AE;
  padding: 0.5em;
  box-shadow: 1px 1px 2px #E9EDC9;
}

form{
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.30em;
  border: #CCD5AE dashed 3px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
}

fieldset{
  border: none;
}

fieldset>legend{
  margin-bottom: 0.7em;
  color: #D4A373;
}

form input, form textarea{
  padding: 0.3em 0.5em;
  border:solid 1.5px #D4A373;
  max-width: 60vw;;
  text-align: start;
}

textarea{
  color: #D4A373;
}


/* Medium devices */
@media only screen and (min-width: 780px) {
  body{
    margin: auto;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0.5em;
  }
  main{
    padding:0.7em;
  }
  
  p{
    color: rgb(89, 87, 87);
    column-count: 2;
    column-width: 8rem;;
    padding-top: 0.5em;
    padding-bottom:0.25em;
    line-height: 1.5em;
    font-size: 120%;
  }

  h1{
    color: #FEFAE0 ;
    font-size: 180%;
    margin:1.2em;
  }

  h2,h3,h4,h5{
    padding-top: 1em;
    padding-bottom:1em;
    color: #CCD5AE;
    font-size: 160%;
  }

  .pre-outside-body{
    color: #FEFAE0;
    background:#CCD5AE;
    border:2px dashed #E9EDC9;
    padding: 1em;
    box-shadow:0.15em 0.15em 0.5em #E9EDC9;
  }


blockquote{
  color: rgb(59, 58, 58);
  padding: 0.5em;
  font-size: 120%;
}
  
  picture{
    grid-column-start: 3;
    padding: 1em;
  }

  figcaption{
    font-size: 120%;
  }
  
  img{
    max-width: 100%;
    height: auto;
    border: #E9EDC9 2px solid;
    border-radius: 3%;
  }
  
  video{
    max-width: 100%;
    height: auto;
    padding: 1em;
  }
  
  .alternative-text{
    color: #FEFAE0;
  }
  
  .main-header{
    background: #CCD5AE;
    min-height: 200px;
    grid-column: 1/4;
    display: grid;
    grid-template-rows: 3fr;
    align-items: center;
  }
  
  .nav-bar{
    background: #FEFAE0;
  }
  
  .nav-bar ul{
    padding: 0.5em;
  }
  .nav-bar li{
    list-style-type: none;
    padding-top: 1em;
  }
  
  .nav-bar li a{
    color: #D4A373;
    text-decoration: none;
    font-size: 120%;
  }
  
  .nav-bar li a:hover{
    color: #CCD5AE;
    text-decoration: none;
  }

  aside{ 
    background: #D4A373;
    padding: 1em;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  aside p{
    font-size: 1em;
  }
  
  .article-list li{
    list-style-type: none;
    padding: 0.4em;
  }
  
  .article-list li a{
    text-decoration: none;
    color: #E9EDC9;
    font-size: 120%;
  }

  .learning-list li{
    margin-left: 1em;
    margin-top: 0.25em;
    font-size: 120%;
  }
  
  
  .alternative-text a{
    text-decoration: none;
    color: #E9EDC9;
  }
  
  .alternative-text a:hover{
    color: #CCD5AE;
  }
  
  .article-list li a:hover{
    color: #CCD5AE;
  }
  
  form{
    margin-bottom: 1em;
    padding: 1em;
  }
  
  address{
    color: #FEFAE0;
  }
  
  .footer address p a{
    color: #FEFAE0;
    text-decoration: none;
    cursor: pointer;
  }
  
  .footer address p a:hover{
    color: #E9EDC9;
    text-decoration: none;
  }
  
  .footer nav a{
    color: #FEFAE0;
    text-decoration: none;
    cursor: pointer;
  }
  
  .footer nav a:hover{
    color: #E9EDC9;
    text-decoration: none;
  }
  
  .footer{
    background: #CCD5AE;
    padding: 1em;
    grid-column:1/3;
    display: grid;
    align-items: flex-start;
  }
  
  .footer-header{
    color: #FEFAE0;
  }
  
  details{
    color: #FEFAE0;
    padding: 0.5em;
  }
  
  details ol li{
    margin-top: 0.8em;
  }
  
  .p-outside-body{
    color: #FEFAE0;
    padding: 0.25em;
  }
  
  aside ol{
    padding: 0.5em;
  }
  
  aside ol li{
    color: #FEFAE0;
    margin-top: 0.5em;
    background: #CCD5AE;
    padding: 0.5em;
    box-shadow: 0.1em 0.1em 0.15em #E9EDC9;
  }

  
}


/*Large devices*/
@media only screen and (min-width:1024px){
  
  body{
    max-width: 1200px;
    margin: auto;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 0.5em;
  }
  
  main{
    padding:1.5em;
  }
  
  dt{
    display: block;
    unicode-bidi: isolate;
  }
  
  dd {
    display: block;
    margin-inline-start: 1.5em;
    unicode-bidi: isolate;
  }
  
  h1{
    color: #FEFAE0 ;
    padding-top: 1em;
    padding-bottom:1em;
    font-size: 200%;
    margin-left: 3em;
    margin-right: 3em;
  }
  
  h2,h3,h4,h5{
    padding-top: 1em;
    padding-bottom:1em;
    color: #CCD5AE;
    font-size: 180%;
  }
  
  p{
    color: rgb(89, 87, 87);
    column-count: 3;
    column-width: 16rem;;
    padding-top: 0.5em;
    padding-bottom:0.5em;
    line-height: 1.5em;
    font-size: 140%;
  }
  
  blockquote{
    color: rgb(59, 58, 58);
    padding: 1em;
    font-size: 140%;
  }
  
  .pre-outside-body{
    color: #FEFAE0;
    background:#CCD5AE;
    border:2px dashed #E9EDC9;
    padding: 1em;
    box-shadow:0.15em 0.15em 0.15em #E9EDC9;
  }
  
  picture{
    grid-column-start: 3;
    padding: 1em;
  }

  figcaption{
    font-size: 140%;
  }
  
  img{
    max-width: 100%;
    height: auto;
    border: #E9EDC9 2px solid;
    border-radius: 3%;
  }
  
  video{
    max-width: 100%;
    height: auto;
    padding: 1em;
  }
  
  .alternative-text{
    color: #FEFAE0;
  }
  
  .main-header{
    background: #CCD5AE;
    min-height: 200px;
    grid-column: 1/4;
    display: grid;
    grid-template-rows: 3fr;
    align-items: center;
  }

  .nav-bar{
    background: #FEFAE0;
  }
  
  .nav-bar ul{
    padding: 1em;
  }
  .nav-bar li{
    list-style-type: none;
    padding-top: 1.5em;
    font-size: 140%;
  }
  
  .nav-bar li a{
    color: #D4A373;
    text-decoration: none;
  }
  
  .nav-bar li a:hover{
    color: #CCD5AE;
    text-decoration: none;
  }
  
  aside{ 
    background: #D4A373;
    padding: 1em;
    grid-column-start: 3;
  }
  
  .article-list li{
    list-style-type: none;
    padding: 0.4;
  }
  
  .article-list li a{
    text-decoration: none;
    color: #E9EDC9;
  }

  .learning-list li{
    margin-left: 1em;
    margin-top: 0.25em;
    font-size: 140%;
  }
  
  .alternative-text a{
    text-decoration: none;
    color: #E9EDC9;
  }
  
  .alternative-text a:hover{
    color: #CCD5AE;
  }
  
  .article-list li a:hover{
    color: #CCD5AE;
  }
  
  form{
    margin-bottom: 1em;
    padding: 1em;
  }
  
  address{
    color: #FEFAE0;
  }
  
  .footer address p a{
    color: #FEFAE0;
    text-decoration: none;
    cursor: pointer;
  }
  
  .footer address p a:hover{
    color: #E9EDC9;
    text-decoration: none;
  }
  
  .footer nav a{
    color: #FEFAE0;
    text-decoration: none;
    cursor: pointer;
  }
  
  .footer nav a:hover{
    color: #E9EDC9;
    text-decoration: none;
  }
  
  .footer{
    background: #CCD5AE;
    padding: 1em;
    grid-column:1/4;
    display: grid;
    align-items: flex-start;
  }
  
  .footer-header{
    color: #FEFAE0;
  }
  
  details{
    color: #FEFAE0;
    padding: 0.5;
  }
  
  details ol li{
    margin-top: 0.8em;
  }
  
  .p-outside-body{
    color: #FEFAE0;
    padding: 0.25em;
  }
  
  aside ol{
    padding: 0.5em;
  }
 
  aside ol li{
    color: #FEFAE0;
    margin-top: 0.5em;
    background: #CCD5AE;
    padding: 0.5em;
    box-shadow: 0.1em 0.1em 0.15em #E9EDC9;
  }

}

