* {
  box-sizing: border-box;
}

body{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 0.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#mainHeader{
  background: #647973;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius: 4px;
}

h1{
  color: #D8E1D3;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2, h3{
  color: #647973;
  letter-spacing: 0.1em;
  text-align: center;
}

p{
  line-height: 1em;
  color: #4A675A;
}

#navBarHeader{
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap:1.5em;
  justify-content: center;
}

#navList{
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap:1.5em;
  justify-items: center;
  letter-spacing: 0.2em;
}

#navBarHeader li{
  list-style-type: none;
}

#navBarHeader a{
  color: #D8E1D3;
  text-decoration: none;
}

#navBarHeader a:link{
  color: #D8E1D3;
  text-decoration: none;
}

#navBarHeader a:hover{
  color: #ACB5A0;
  transition: ease-in 0.1s;
  cursor: pointer;
}

#navBarHeader a:active{
  text-decoration: underline;
  text-underline-offset:0.4em ;
  color: #ACB5A0;
}

.currentPage{
  text-decoration: underline;
  text-underline-offset:0.4em ;
  color: #D8E1D3;
}

main{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  padding: 0.5em;
  justify-items: center;
}

#currentImage{
  width: 100%;
  height: auto;
  border-radius: 4px;
}


section{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  padding: 0.5em;
  justify-content: center;
}

h3{
  color: #4A675A;
  text-align: center;
  padding-top: 1em;
  margin-bottom: 0.5em;
}

.homeImg{
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
  object-fit: fill;
}

.infoBox{
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  background: #D8E1D3;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 4px;
}

.infoText{
  color: #4A675A;
  padding:1.5em;
  line-height: 1.5em;
  width: 100%;
  height: auto;
  text-align: center;
}
 
.bookButton{
  border: #647973 solid 2px;
  width: 60px;
  height: auto;
  background: #647973;
  color: #D8E1D3;
  padding: 0.5em;
  margin-bottom: 1em;
  text-decoration: none;
  display: grid;
  justify-content: center;
  justify-self: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s ease;
}

.bookButton:hover{
  background: #ACB5A0;
  border: #ACB5A0 solid 2px;
  color: #4A675A;
  transition: ease-in 0.1s;
  cursor: pointer;
}

#aboutUs{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  margin-bottom: 1em;
  padding: 1.5em;
  justify-items: center;
  color: #4A675A;
}

#aboutText{
  width: 90%;
  line-height: 1.5em;
  text-align: center;
}

.employInfo{
  background:#D8E1D3;
  margin-bottom: 3em;
  display: grid;
  justify-items: center;
}

.roundImage{
  margin-top: 1.5em;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
}

footer{
  padding: 1em;
  background: #647973;
  width: 100%;
}

#footerContainer{
  display: grid;
  grid-template-columns:1fr;
  gap: 1em;
  margin-bottom: 1em;
  align-items: center;
}

.contact{
  color: #D8E1D3;
  letter-spacing: 0.1em;
  display: grid;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}

.contact:hover{
  color: #ACB5A0;
  transition: ease-in 0.1s;
}

#navBarFooter{
  margin-top: 1em;
  margin-bottom: 2em;
}

#footerNav{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap:1.5em;
  margin-bottom: 1em;
  justify-items: center;
  margin-block-start: 0;
  padding-inline-start: 0;
}

#footerNav li{
  list-style-type: none;
  text-align: center;
}


#footerNav a{
  text-decoration: none;
  color: #D8E1D3;
  letter-spacing: 0.1em;
}

#footerNav a:hover{
  color: #ACB5A0;
  transition: ease-in 0.1s;
}

#footerNav a:active{
  text-decoration: underline;
  text-underline-offset:0.4em ;
  color: #ACB5A0;
}

.copyRight{
  color: #D8E1D3;
  display: grid;
  margin-top: 1.5em;
  text-align: center;
}

.social-media{
  display: grid;
  grid-template-columns: repeat(2,auto);
  justify-content: center;
  gap: 1em;
}

.social-media .fa{
  display: grid;
  padding: 0.5em;
  font-size: 1em;
  width: 30px;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
}

.social-media .fa-facebook {
  background: #3B5998;
  color: white;
  text-decoration: none;
}

.social-media .fa-instagram {
  background: #983b7b;
  color: white;
  text-decoration: none;
}

address{
  background: #D8E1D3;
  width: 100%;
  display: grid;
  justify-content: center;
  padding: 1em;
  color: #647973;
  font-weight: bold;
  font-style: normal;
}

address a{
  text-decoration: none;
  color: #647973;
  font-weight: bold;
  text-align: center;
}
address a:hover{
  color: #ACB5A0;
  cursor: pointer;
}

.contactHeader{
  margin-top: 0.3em;
}

form{
  padding: 1em;
  width: 90%;
  margin-top: 1em;
  margin-bottom: 3em;
}

fieldset{
  border: #647973 solid 2px;
  display: grid;
  justify-content: center;
}

label{
  color: #647973;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

#nameLabel{
  margin-top: 1em;
}

textarea{
  resize: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 100px;
}

input{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 40px;
}

#sendButton{
    margin-top: 1em;
    justify-self: center;
}

input:focus {
  background: #ACB5A0;
}

textarea:focus{
  background: #ACB5A0;
}

#priceBox{
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap: 1em;
  justify-content: center;
  margin-bottom: 1em;
}

.box{
  padding: 1em;
  background-color: #D8E1D3;
  color: #647973;
  font-weight: bold;
  text-align: center;
  align-content: center;
  margin: 1em;
  padding: 1em;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s ease;
}

.box:hover {
  background-color: #acb5a0;
  color: #D8E1D3;
}

#fieldsetPrice input{
  width: 150px;
  height: 40px;
}

#fieldsetPrice{
  padding: 1em;
  border: 1px solid #acb5a0;
  padding: 1em;
  max-width: 400px;
  margin: 0 auto;
}

#chosenEvent{
  margin-top: 1em;

}

#total{
  background-color: #cfd8c7;
  padding: 1em;
  margin-top: 1em;
  font-weight: bold;
  color: #647973;
}

@media only screen and (min-width: 780px) {
  #infoBusiness{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  #infoBusiness{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 1em;
  }
}

