body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-width: 100px;
  margin: auto;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 0.5em;
  max-width: 50%; 
  background: url(/Webbutveckling-1/3.1.1/images/geordanna-cordero-5NE6mX0WVfQ-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

h1{
  color: rgb(7, 184, 249);
  text-shadow: #A672C1 1px 2px  2px;
}

h2,h3{
  color: whitesmoke;
}

p{
  color: whitesmoke;
}

form p{
  color: black;
}

form{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 1.5em;
  align-items: center;
  background: white;
  padding: 1.5em;;
  color: black;
}

ul{
  background: white;
  max-height:50% ;
  overflow: scroll;
}

footer{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-items: center;
  margin-top: 3em;
}

address{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-items: center;
}

address p{
  font-weight:bold;
}
address a{
  color: whitesmoke;
}

address a:hover{
  color: #A672C1;
}


#importantInfo{
  font-size: 130%;
  line-height: 1.3em;
}

#addContactButton{
  padding: 0.5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  background: #A672C1;
  color: whitesmoke;
  border: #A672C1;
}

#addContactButton:hover{
  background: #07B8F9;
}

#addContactButton:active{
  background: whitesmoke;
  color: #07B8F9;
}
