body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-width: 100px;
  margin: auto;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 0.5em;
  max-width: 50%; 
  background: url(/Webbutveckling-1/3.1.1/images/geordanna-cordero-5NE6mX0WVfQ-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

h1,h2,h3{
  color: whitesmoke;
}

p{
  color: whitesmoke;
}

form p{
  color: black;
}

form{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 1.5em;
  align-items: center;
  background: white;
  padding: 1.5em;;
  color: black
}

footer{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-items: center;
  margin-top: 3em;
}

address{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-items: center;
}

address p{
  font-weight:bold;
}
address a{
  color: whitesmoke;
}

address a:hover{
  color: aqua;
}


#importantInfo{
  font-size: 130%;
}